a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

/* Header */
#navbar {
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background: rgb(229, 46, 120);
}

#nav-banner{
  font-family: 'East Sea Dokdo', cursive;
  color: white;
  font-size: 40px;
  border: 10px solid white;
  border-radius: 20px;
  padding: 10px;
}

#nav-button{
  width: 30vw;
}

#nav-button ul{
  display: flex;
  justify-content: space-around;
}

#nav-button ul .nav-link{
  display: inline-block;
  background: white;
  color: rgb(229, 46, 120);
  width:120px;
  margin:5px;
  height: 40px;
  text-align: center;
  align-self: center;
  padding-top: 14px;
  border-radius: 4px;
}

/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 19.3vh;
  background: black;
  color: rgb(229, 46, 120);
  border-top: thick dashed rgb(229, 46, 120);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#credits{
  padding-left: 10px;
  width: 20vw;
}

#contact{
  width: 20vw;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contact-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: flex-start; 
}

/* Body */

/* Home */

#home{
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: inherit;
  margin-bottom: 250px;
}

#home-head{
  width: 70%;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

#home-display{
  /* display: inline-flex; */
  justify-content: space-around; 
  /* align-items: center; */
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
}

@media screen and (min-width: 600px) {

  #home-display {
    display: inline-flex;
    width: 100%;
    margin: auto;
  }

  .card{
    width: 250px !important;
    height: 300px;
    border: thin solid black;
    margin-left: 30px !important;
    margin-right: 30px !important;
    border-radius: 10px;
    top: 315px;
    
  }
}

.card{

  width: 70%;
  margin: auto;
  height: 300px;
  border: thin solid black;
  border-radius: 10px;
  margin-bottom: 30px;
}

.card:hover{
  transition: 0.5s ease-out;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 1px rgb(229, 46, 120);
}

.card-title{
  margin: ;
  text-align: center;
  font-weight: 700;
  border-bottom: thin solid black;
  padding: 5px;
  height: 30px;
}

.card-image img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 220px;
}

.card-image{
  
  background:	rgb(255, 216, 236);
}

.card-rating{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 5px;
  margin-right: 10px;
}

/* Render Movie */

#renderMovie{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: inherit;
}

#error{
  font-size: 200%;
  color: rgb(229, 46, 120); 
}

#errorNum{
  font-weight: 600;
}

/* Movie Card */
#movie-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#movie-card-title{
  width:auto;
  text-align: center;
}

#movie-card-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#movie-card-image img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  height:auto;
  border: thin solid rgb(229, 46, 120);
}


#movie-card-content{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: auto;
  max-width: 60vw;
  height:auto;
  border-radius: 5px;
  margin-left: 10px;
  background:	rgb(255, 216, 236);
  padding: 10px 20px;
  max-height: 45vh;
  overflow-y: auto;
}

/* Person-card */
.person-card{
  cursor: pointer;
  border: thin solid;
  border-radius: 5px;
  min-width:90px; 
  width: 90px;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 5px;
}

.person-img{
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 80%;
}

.person-name, .person-age{
  z-index: 1;
  text-align: center;
  background:	rgba(255, 216, 236,0.5);
  display: inline;
  width: inherit;
  opacity: 0;
}

.person-card:hover .person-name, .person-card:hover .person-age{
  opacity: 1;
  transition: 0.4s ease-in-out;
}

#actors{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  height: 130px;
  max-width: 40vw;
}

/* Form */

#form, #form-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#form{
  height:60vh;
}

#form-body{
  /* background: rgb(255, 216, 236); */
  padding: 3vh 5vw; 
  border-radius: 10px;
  border: thin solid rgb(229, 46, 120);
  overflow-y: auto;
  justify-content: flex-start
}

#form-body ul{
  padding:0
}

#form-body input,#form-body select, #form-body textarea{
  width: 300px;
  height: 30px;
  padding: 0px 5px;
  font-size: 15px;
}

#form-body input[type="checkbox"]{
  width: auto;
  height: auto
}

#form-body th{
  color: rgb(229, 46, 120);
  text-align: left;
}
#form-body tr{
  height: 50px;
}

#form-body textarea{
  padding: 2px 5px; 
  height: 70px;
  width: 302px
}
#form-body select{
  width: 314px;
}

#form-body button{
  padding: 10px;
  width:100%;
  font-size: 20px;
  background:	rgba(255, 216, 236,0.5);
  border: thin solid rgb(229, 46, 120);
  margin-top:5px;
  cursor: pointer;
  color: rgb(229, 46, 120);
}

#form-body button:hover{
  box-shadow: 10px 10px 0px 0px rgba(255, 216, 236, 1);   
}

#form-body button:active{
  box-shadow: 5px 5px 0px 0px rgba(255, 216, 236, 1);   
}

#addMovie{
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-button{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.topnav {
  background-color: rgb(229, 46, 120);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}